body {
  font-family: 'Montserrat';
}

p {
  color: #8f8f8f;
  text-align: center;
}

h1, h2, h3, h4, h5 ,h6{
  font-family: 'Montserrat';
}

/* Heading */

.bigHead {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.icon{
  color: #393b44;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #000000;
}

.featuresh3 {
  font-family: Montserrat;
  font-size: 1.5rem;
}

#title {
  background-color: #393b44;
  color: #f1f3f8;
}


.avatarimg {
  margin-left: 120px;
}

/* Nav Bar */

.navbar.navbar-expand-lg.navbar-dark {
padding: 0 0 5rem;
}

.navbar-brand {
font-family: 'Lobster', cursive;
font-size: 2rem;
}

.nav-item {
   padding: 0 18px;
}
.nav-link {
  font-size: 1.2;
  font-family: Montserrat;
}
/* Social Buttons */

.social_buttons {
  margin: 5% 3% 5% 0%;
}

#features{
  padding: 7% 15%;
}

.arttype{
  text-align: center;
  padding: 5%;
}

/* artype section */
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#testimonials {

  text-align: center;
  background-color: #393b44;
  color: #ffff;
}

.carousel-item{
    padding: 7% 15%;
}
#press{
  background-color: #393b44;
  text-align: center;
  padding-bottom: 3%
}

.press-logo{
  width: 10%;
  margin: 20px 20px 25px;
}

#pricing{
  padding: 100px;
}
.pricing-col{
  padding: 3% 2%;
}

/* CTA section */
#cta{
  background-color: #393b44;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}

/* FOOTER */

#footer{
text-align: center;
padding: 2% 15% 0%;
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }
  .avatarimg {
    border-radius: 100%;
    margin-left: 0px;
  }
}
